
.google-font {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: #5f9cf8;
    padding: 5px;
    text-align:center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius:  20px;
}

.contacto-section {
    display:grid;
    background-color: #EE9003;
    margin-top: 110px;
    border-radius: 25px;
    grid-template-columns: repeat(2,1fr);
}

.columna-contacto{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
}


.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    color: #303030;
    font-size: 25px;
    font-weight: 600;
    width: 200px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #406ff0;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #c53d3d;
}


#menu {
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.bg {
    position: absolute;
    width: 700px;
    z-index: -1;
    right: 0;
}

.esp {
    position: absolute;
    top: 700px;
    bottom: 0;
    width: 350px;
}

.header-info {
    display: flex;
    align-items: center;
    margin-top: 100px;

}

.header-txt{
    width: 50%;
    padding-right: 35px;
    margin-top: 160px;
}

.header-txt h1{
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 25px;
    text-transform: capitalize;

}

.header-txt p{
    font-size: 16px;
    color: #545454;
    margin-bottom: 35px;
}

.btn-1{
    display: inline-block;
    background-color: #FF9F0D;
    padding: 13px 30px;
    border-radius: 25px;
    color: #545454;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-1:hover {
    background-color: #EE9003;
}

.header-img {
    width: 50%;
}

.header-img img{
    width: 650px;
}


.products {
    padding: 80px 0;
    grid-row-start: 1;
   /*grid-column: span 3;*/
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

       
.products h2{
    font-size:  45px;
    color: #303030;
    margin-bottom: 30px;
}
.products p{
    font-size: 18px;
    color: #545454;
    margin-bottom: 70px;
    padding: 0 200px;
}

.product-info {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

.product-info button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius:  15px;
}

.product-info button:hover{
    background-color: #dc3545;
}

.car{
    min-height: 600px;
}

.section-carrito{
    margin-top:160px;
}

.contacto-section{
    margin-top:160px;
}

.carrito.product-carrito {
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin: 40px;
    margin-top:auto;
    border: 1px solid #680a36;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.carrito.product-carrito > * {
    margin-bottom: 10px;
}
  
.carrito.product-carrito.quantity-container {
    display: flex;
    align-items: center;
}
  
.carrito.product-carrito.quantity-controls {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.carrito.product-carrito button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius:  15px;
}
  
.product-carrito button:hover {
    background-color: #962929;
}
  
.fin-carrito{
    padding-left: 46%;
    min-height: 50px;

}

.fin-carrito button {
    background-color: #60940d;
    border: none;
    cursor: pointer;
    border-radius:  15px;
    padding: 10px 20px;
}

.fin-carrito button:hover {
    background-color: #f13636;
}

.products {
    padding-bottom: 35px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius:  25px;
    padding: 80px 0;
    grid-row-start: 1;
    grid-column: span 3;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

.products img{
    width:90%;
    height:  200px;
    border-radius:  25px 25px 0 0;
}

.products h3 {
    font-size: 20px;
    color: #303030;
    margin-top: 15px;
}
.products p{
    font-size: 16px;
    padding: 30px;
    color: #545454;
    margin: 0;

}

.product span{
    background-color: #ff9f0d;
    padding: 10px;
    color: #ffffff;
    border-radius: 15px;
}



.resenias {
    padding-bottom: 35px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius:  25px;
}    

.resenias-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.resenias-section div {
    border: 1px solid #5f9cf8;
    padding: 10px;
    text-align: center;
    border-radius: 10px;;
}

.resenias-info {

    gap: 10px;
    background-color: aquamarine;
    border: 2px  solid #5f9cf8;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}





.hr{
    border: 1px solid #eee;
}

.link h3{
    font-size:  20px;
    color: #303030;
    margin-bottom: 20px;
}
.socials img{
    margin-right: 15px;
}
 
a{
    font-size:  16px;
    display: block;
    margin-bottom: 10px;
    color: #545454;
}




.btn-open-popup{
   position:relative;
    display:block;/*inline-block;/**/
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #545454;
    background: white;
    padding: 13px 30px;
    border-radius: 50px;
    text-transform: capitalize;
    border-radius: 25px;
    background-color: #EE9003;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.btn-open-popup:hover {
    background-color: #EE9003;
}

.container-all{
    width: 100%;
    height: 100%;
    position:relative; 
    margin-left:300px;
    margin-top: auto;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition:  all 600ms;
}

.container-all:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}

.container-all:target .popup{
    top:-50%;
    left: -50%;
    transform: rotate(0deg) translate(-50%,-50%);
    visibility: visible;
}

.popup{
    flex-direction:column;
    width: 100%;
    max-width: 1600px;
    height: 400px;
    position:static;
    display: flex;
    float:right;
    background: white;
    visibility: hidden;
    top: -80%;
    left: -50%;
    transform:rotate(90deg) translate(-150%,230%);
    transition: all 600ms;
}

.imgt{
    width: 7%;
    background-image: url(../images/iconos/10.png);
    background-size: cover;
    background-position: center;
}

.container-text{
    width: 93%;
    padding: 50px;
    margin-top: 1px;
    margin-bottom: 10px;
    overflow-y:auto; /*scroll;*/
}
.container-text h1{
      font-size: 30px;
}
.container-text p{
    margin-top: 20px;
    font-size: 16px;
}
.btn-close-popup{
    width: 30px;
    height: 30px;
    position: absolute;
    right: -20px;
    top:  -20px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
}










@media only screen and (max-width: 600px) {
    .titulo{
        padding-left: 20px;
        padding-right: 100px;
    }
    .product-info {
       /* flex-basis: calc(50% - 5px);
        /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
        grid-template-columns: repeat(1,1fr);
    }
  /*  .column {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }*/


    .menu{
        padding: 10px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ff9f0d;
        display:flow-root;
    }

    .menu .navbar ul li{
        width: 100%;
    }
    .menu .navbar ul li a{
        color: #406ff0;
    }
    .menu .navbar ul li a:hover{
        color: #f75050;
    }
    .section-carrito{
        margin-top:490px;
    }
    .contacto-section{
        margin-top: 490px;
    }
    .header-txt{
        margin-top: 490px;
    }

}


@media (min-width: 768px) {
    .titulo{
        padding-left: 30px;
        padding-right: 150px;
    }
    .product-info {
       /* flex-basis: calc(50% - 5px);
        /*grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));*/
        grid-template-columns: repeat(2,1fr);
    }
    .column {
        width: 100%;
    }
    
    .section-carrito{
        margin-top:100px;
    }
    .contacto-section{
        margin-top: 100px;;
    }
    .header-txt{
        margin-top: 100px;
    }
}


@media (min-width: 1024px) {
    .titulo{
        padding-left: 100px;
        padding-right: 300px;
    }
    .product-info {
       /* flex-basis: calc(50% - 5px);
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));*/
        grid-template-columns: repeat(3,1fr);
    }
   .column {
        width: 100%;
    }

}
 
