// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.sour-gummy-font {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: 
  "width" 100;
}


.mapa{
     margin-inline: auto;
}
  
header{
    height: 150px;
    background-color: #5f9cf8;
    padding: 10px;
}

.menu img{
    align-items: auto;
    vertical-align: auto;
    display:inline;
    justify-content:left;
    padding-right: 90px;
}

.column {
    width: 33.33%;
    float: left;
    padding: 10px;
}

body {
    font-family: 'Sour Gummy', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer, nav {
    background-color: #5f9cf8;
    padding: 10px;
}


.contacto-container h1 {
    font-size: 2rem;
    color: #630e0e;
    margin-left: 15px;
    margin-bottom: 25px;
}


nav ul {
    list-style-type:disc;
    display: flex;
    justify-content: center;
    padding-inline: 8%;
}

nav li {
    margin: 0 10px;
}

.productos{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid: column gap 3px;
    padding-bottom: 35px;
}

.productos img{
    width:  160px;
    height: 160px;
    border-radius:  25px 25px 0 0;
}

.productos h2{
    font-size:  26px;
    color: #303030;
    margin-bottom: 30px;
}


.productos-section {
    background-color: #498519;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto-info {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid: column gap 3px;
    padding-bottom: 35px;

    background-color: #5da063;
    border: 1px solid #282904;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.producto-info img{
    width:300px;
    height:  200px;
    padding: 9px;
    border-radius:  25px 25px 0 0;
}

.producto-info h2{
    font-size:  24px;
    color: #303030;
    text-align: right;
    margin: 30px;
    padding-right: 40px;
}

.producto-info h3{
    font-size:  20px;
    color: #7a2d2d;
    margin: 20px;
    padding-right: 40px;
    text-align: right;
    font-style: italic;
}

.producto-info button{
    border: 1px solid #282904;
    border-radius: 10px;
    width: 300px;
}

.carrito {
    background-color: #5da063;
    border: 1px solid #282904;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    flex: 0 1 calc(45% - 20px); /* Flexbox para responsividad */  
}

.resenias-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    background-color: aquamarine;
    border: 2px  solid #5f9cf8;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;


}

.contacto-section {
    text-align: center;
}

.inicio{
    padding-top: 80px;
}

.mapa-responsive{
    width: 100%;
    max-width: 800px; 
    height: 400px; 
    flex: 1;
    display: flex; 
}

.form-msj{
    max-width: 90%;
    width: 99%;
    margin: 20px auto;
    padding: 20px;
    background-color: #39804a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(35, 172, 182, 0.7);
    text-align: center;
    
}

.form-msj img{
    align: center;
}

.titulo{
    font-style: italic;
    padding-left: 100px;
    padding-right: 300px;
}

h1{
    margin-left: 50px;
}

h2{
    margin-left: 30px;
}

.footer {
    color: #fff;
    text-align:justify;
    padding-bottom: 32px;
    position:relative;
    width: 70%;
    bottom: 10;
}

.column {
    width: 20%;
    float:right;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .titulo{
        padding-left: 20px;
        padding-right: 100px;
    }
    .card {
        flex-basis: calc(50% - 20px);
    }
    .column {
        width: 100%;
    }

    .resenias-section {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}


@media (min-width: 768px) {
    .titulo{
        padding-left: 30px;
        padding-right: 150px;
    }
    .card {
        flex-basis: calc(50% - 12px);
    }

    .resenias-section {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}


@media (min-width: 1024px) {
    .titulo{
        padding-left: 100px;
        padding-right: 300px;
    }
    .card {
        flex-basis: calc(50% - 5px);
    }

    .resenias-section {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
 
